.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    box-sizing: border-box;
    float: left;
    padding: 15px;
}

#topleft{
    width: 60%;
}

#topRight{
    width: 40%;

}

.X4{
    width: 25%;
}